body {
    font-family: 'Cantarell', sans-serif;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.header {
    display: flex;
    justify-content: end;
    gap: 15px;
    font-size: 0.9rem;
    font-style: normal;
    margin-top: 1.5em;
}

.header-item:hover {
    text-decoration: underline;
}

#user-picture {
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 2em;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: transparent;
    color: rgba(0,0,0,.87);
    font-size: 16px;
    height: 34px;
    margin-bottom: 2em;
    border-radius: 2em;
    border-width: thin;
    box-shadow: none;
    text-indent: 10%;
    outline: none;
    width: 50vh;
    height: 4vh;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    min-width: 54px;
    height: 36px;
}

#search {
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
}

#search:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

#lucky {
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
}

#lucky:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin-top: 1em;
}

p {
    font-size: small;
    color: #3c4043;
}

.lang-btn {
    color: #1a0dab;
}

.lang-btn:hover {
    text-decoration: underline;
}

ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 600px;
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    background-color: rgba(241, 241, 241, 0.897);
}

.location {
    padding: 10px 20px;
    border-bottom: 1px solid #dadce0;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 97%;
    padding: 20px 10px 10px;
    padding-left: 15px
}

.left-footer {
    display: flex;
    justify-content: left;
    gap: 1.5em;
    width: 40%;
}

.right-footer {
    display: flex;
    justify-content: right;
    gap: 1.5em;
    width: 30%;
}

.ftr-lnk {
    color: rgba(0,0,0,.54)
}
